body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

.container {
    margin-top: 100px;
}

input {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px;
    margin-left: 10px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.logo {
    width: 80px;
    margin-bottom: 10px;
}

.brand {
    color: #555;
    margin-bottom: 10px;
}

#description {
    margin-top: 10px;
    font-size: 16px;
}

#risk {
    margin-top: 5px;
    font-weight: bold;
}